<section class="gradient-custom-2" style="margin-bottom: 0;">
<div class="card mb-3 container" >
  <div class="row g-0">
    <div class="col-md-4">
      <img src="../assets/photos/startbuy2.png" class="img-fluid rounded-start " style="width: 100%;" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">STARTBUY E-COMMERCE WEB SITE</h5>
        <p class="card-text">My project, STARTBUY, is an online commerce platform designed to provide a convenient and
          accessible
          shopping experience through the web. By leveraging modern technologies such as Angular, Spring Boot, and
          MySQL, STARTBUY offers users the ability to browse a wide range of products, place orders, and enjoy a
          seamless shopping experience.
  
          Angular's user-friendly interface ensures intuitive navigation, while the robustness of Spring Boot. The
          MySQL database management system ensures efficient management
          of stocks and orders.</p>
        <p class="card-text"><small class="text-muted">Duration 06,07,08/2023</small></p>
      </div>
    </div>
  </div>
  <div class="row g-0">
    <div class="col-md-4">
      <img src="../assets/photos/portfolio.png" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">MYPORTFOLIO</h5>
        <p class="card-text">Developed a dynamic and visually engaging portfolio website using Angular, showcasing my
          skills, projects, and expertise. Leveraging Angular's powerful features, the site offers a seamless user
          experience with responsive design, allowing visitors to explore my work across various devices. Integrated
          interactive elements and animations to enhance user engagement and navigation. emphasizing a clean and modern
          design
          to showcase my abilities and accomplishments effectively</p>
        <p class="card-text"><small class="text-muted">Duration: 2days</small></p>
      </div>
    </div>
  </div>
  <div class="row g-0">
    <div class="col-md-4">
      <img src="../assets/photos/apasfax.png" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">APASFAX WEBSITE</h5>
        <p class="card-text">Developed a website for APA Sfax during my schooling as an introductory project in web
          development. Utilizing HTML, CSS, and JavaScript, I created a platform highlighting the organization's efforts
          in safeguarding animal welfare in Sfax. The website was crafted with a user-friendly interface and responsive
          design, providing information about the organization's initiatives, adoption programs, and ways to support their
          cause. Implemented basic interactive elements using JavaScript to enhance the site's functionality and
          navigation. This project served as an initiation into web development, offering practical experience in coding
          and design while supporting a noble cause.</p>
        <p class="card-text"><small class="text-muted">Duration: 3 months</small></p>
      </div>
    </div>
  </div>
</div>
</section>