<section class=" gradient-custom-2">
    <div class="container py-5 ">
        <div class="row d-flex justify-content-center align-items-center ">
            <div class="col col-lg-12 col-xl-12">
                <div class="card">
                    <div class="rounded-top text-white d-flex flex-row" style="background-color: #000; height:25vw;">
                        <div class="ms-4 mt-5 d-flex flex-column" style="width: 20vw;">
                            <img src="../assets/photos/rouaaaaa.jpg" alt="Generic placeholder image"
                                class="img-fluid img-thumbnail mt-4 mb-2" style="width: 20vw; z-index: 1">
                        </div>
                        <div class="ms-3" style="margin-top: 13vw;">
                            <h5>Roua Mattoussi</h5>
                            <p>Computer science engineering student</p>
                        </div>
                    </div>
                    <div class="card-body p-4 text-black">
                        <div class="mb-5">
                            <p class="lead fw-normal mb-1">About</p>
                            <div class="p-4" style="background-color: #f8f9fa;">
                                <p class="font-italic mb-1">
                                    I'am Roua Mattoussi, I am a Computer engineering student at the National School of
                                    Computer Science in Mannouba. I am a full-stack developer skilled in Angular and
                                    Spring Boot, and I am enthusiastic about learning more and staying updated with the
                                    latest advancements and innovations in the field. I am open to any internship</p>
                            </div>
                        </div>
                        <div class="mb-5">
                            <p class="lead fw-normal mb-1">Skills</p>
                            <div class="p-4" style="background-color: #f8f9fa;">
                                <button type="button" class="btn-info">HTML</button>
                                <button type="button" class="btn-info">CSS</button>
                                <button type="button" class="btn-info">JS</button>
                                <button type="button" class="btn-info">MYSQL</button>
                                <button type="button" class="btn-info">JAVA</button>
                                <button type="button" class="btn-info">C</button>
                                <button type="button" class="btn-info">C++</button>
                                <button type="button" class="btn-info">PYTHON</button>
                                <button type="button" class="btn-info">TYPESCRIPT</button>
                                <button type="button" class="btn-info">ANGULAR</button>
                                <button type="button" class="btn-info">SPRINGBOOT</button>
                                <button type="button" class="btn-info">FIGMA</button>
                                <button type="button" class="btn-info">ADOBE PHOTOSHOP</button>
                                <button type="button" class="btn-info">ADOBE ILLUSTRATOR</button>
                                <button type="button" class="btn-info">CapCut</button>
                                <button type="button" class="btn-info">UI DESIGN</button>
                                <button type="button" class="btn-info">SUPERVISED MACHINE LEARNING</button>

                            </div>
                        </div>
                        <div class="mb-5">
                            <p class="lead fw-normal mb-1">Asoociative life</p>
                            <div class="p-4" style="background-color: #f8f9fa;">
                                <p class=" fw-normal mb-1">Design manager at OSSEC</p>
                                <p class="font-italic mb-1">
                                    I am incredibly grateful and deeply fulfilled by my role as a Design Manager at
                                    OSSEC (Open Source Software ENSI Club). This journey has been nothing short of
                                    extraordinary—a vibrant tapestry woven with passion, creativity, and relentless
                                    dedication. Working alongside a team of like-minded individuals driven by a shared
                                    enthusiasm for open-source software has been an absolute privilege.

                                    At OSSEC, I've had the honor of leading and collaborating on innovative projects,
                                    fostering an environment where imagination knows no bounds. Witnessing the
                                    convergence of diverse talents and ideas to create impactful solutions has been
                                    profoundly inspiring. The camaraderie within our club, coupled with our collective
                                    commitment to advancing open-source technology, has made this experience truly
                                    exceptional.
                                </p>
                                <div class="row g-2 " style="width: 70%; margin: auto;">
                                    <div class="col mb-2">
                                        <img src="../assets/photos/ossec.jpg"
                                            alt="image 1" class="w-100 rounded-3">
                                    </div>
                                    <div class="col mb-2">
                                        <img src="../assets/photos/ossec2.jpg"
                                            alt="image 1" class="w-100 rounded-3">
                                    </div>
                                </div>
                                <div class="row g-2" style="width: 70%; margin: auto;">
                                    <div class="col">
                                        <img src="../assets/photos/ossec1.jpg"
                                            alt="image 1" class="w-100 rounded-3">
                                    </div>
                                    <div class="col">
                                            <img src="../assets/photos/ossec3.jpg"
                                            alt="image 1" class="w-100 rounded-3">
                                    </div>
                                    
                                </div>

                            </div>


                        </div>
                        <!-- <div class="d-flex justify-content-between align-items-center mb-4">
                            <p class="lead fw-normal mb-0">Recent photos</p>
                            <p class="mb-0"><a href="#!" class="text-muted">Show all</a></p>
                        </div>
                        <div class="row g-2">
                            <div class="col mb-2">
                                <img src="https://mdbcdn.b-cdn.net/img/Photos/Lightbox/Original/img%20(112).webp"
                                    alt="image 1" class="w-100 rounded-3">
                            </div>
                            <div class="col mb-2">
                                <img src="https://mdbcdn.b-cdn.net/img/Photos/Lightbox/Original/img%20(107).webp"
                                    alt="image 1" class="w-100 rounded-3">
                            </div>
                        </div>
                        <div class="row g-2">
                            <div class="col">
                                <img src="https://mdbcdn.b-cdn.net/img/Photos/Lightbox/Original/img%20(108).webp"
                                    alt="image 1" class="w-100 rounded-3">
                            </div>
                            <div class="col">
                                <img src="https://mdbcdn.b-cdn.net/img/Photos/Lightbox/Original/img%20(114).webp"
                                    alt="image 1" class="w-100 rounded-3">
                            </div>
                        </div> -->
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>